@charset "EUC-KR";
/* 탑 부분 이미지 */
.notice_top {
	position: relative;
	width: 100%;
	height: 380px;
	background: url('https://www.hyundai.com/content/dam/hyundai/kr/ko/images/common/common-ht01-background-cloud-image-w.jpg') no-repeat right / cover;
}
.notice_title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.content_table {
	position: relative;
}
.content_table .table_contents {
	width: 100%;
	margin: 0 auto;
}
.table_contents tr:first-child td {
	height: 100px;
	background: #f6f3f2;
}